### OASIS INFOBYTE DATA SCIENCE INTERNSHIP
Task 4 : Car Price Prediction

Author: Anish S

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('max_columns', None)

In [3]:
df = pd.read_csv(r"C:\Users\rey31\Downloads\CarPrice.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.shape

(205, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [6]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [7]:
df_num = df.select_dtypes(include= 'number')
df_num = df_num.iloc[:,1:-1]
df_num.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22

In [8]:
def find_outliers_IQR(data):
    for i in df_num:
        q1=df_num[i].quantile(0.25)
        q3=df_num[i].quantile(0.75)
        IQR=q3-q1
        lower_whisker = q1 - (1.5*IQR)  
        upper_whisker = q3 + (1.5*IQR)
        index=df_num[i][(df_num[i]>upper_whisker)|(df_num[i]<lower_whisker)].index
        print(i, len(index))
        
find_outliers_IQR(df_num.columns[1:])

symboling 0
wheelbase 3
carlength 1
carwidth 8
carheight 0
curbweight 0
enginesize 10
boreratio 0
stroke 20
compressionratio 28
horsepower 6
peakrpm 2
citympg 2
highwaympg 3

In [9]:
from scipy.stats.mstats import winsorize

df_winsorize = df_num.apply(lambda x: winsorize(x,limits=[0.05,0.05]) if x.name in df_num.columns[1:] else x)
df_winsorize

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,3,93.0,168.8,64.1,49.7,2548,130,3.47,2.68,9.0,111,5000,21,27
1,3,93.0,168.8,64.1,49.7,2548,130,3.47,2.68,9.0,111,5000,21,27
2,1,94.5,171.2,65.5,52.4,2823,152,2.97,3.47,9.0,154,5000,19,26
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28
201,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25
202,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23
203,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,21.9,106,4800,26,27
204,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25

In [10]:
df1 = df.assign(**df_winsorize)
df1.head(2)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,93.0,168.8,64.1,49.7,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,93.0,168.8,64.1,49.7,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0

In [11]:
from sklearn.preprocessing import LabelEncoder

# Select only the categorical columns to be encoded
categorical_cols = df1.select_dtypes(include=['object']).columns

# Create a LabelEncoder object
encoder = LabelEncoder()

# Apply label encoding to the categorical columns
for col in categorical_cols:
    df1[col] = encoder.fit_transform(df1[col])

# Print the encoded DataFrame
df1.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,1,0,1,0,2,0,93.0,168.8,64.1,49.7,2548,0,2,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,3,1,0,1,0,2,0,93.0,168.8,64.1,49.7,2548,0,2,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,1,1,0,1,2,2,0,94.5,171.2,65.5,52.4,2823,5,3,152,5,2.97,3.47,9.0,154,5000,19,26,16500.0
3,4,2,4,1,0,0,3,1,0,99.8,176.6,66.2,54.3,2337,3,2,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,5,1,0,0,3,0,0,99.4,176.6,66.4,54.3,2824,3,1,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [12]:
def find_outliers_IQR(data):
    for i in df1:
        q1=df1[i].quantile(0.25)
        q3=df1[i].quantile(0.75)
        IQR=q3-q1
        lower_whisker = q1 - (1.5*IQR)  
        upper_whisker = q3 + (1.5*IQR)
        index=df1[i][(df1[i]>upper_whisker)|(df1[i]<lower_whisker)].index
        print(i, len(index))
        
find_outliers_IQR(df1.select_dtypes(include='number').columns[1:])

car_ID 0
symboling 0
CarName 0
fueltype 20
aspiration 37
doornumber 0
carbody 6
drivewheel 0
enginelocation 3
wheelbase 0
carlength 0
carwidth 0
carheight 0
curbweight 0
enginetype 57
cylindernumber 46
enginesize 0
fuelsystem 0
boreratio 0
stroke 15
compressionratio 21
horsepower 0
peakrpm 0
citympg 0
highwaympg 0
price 15

In [34]:
X = df1.iloc[:, 1:-1].values  
y = df1.iloc[:, -1].values

In [35]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=42)
print(X_train.shape, X_test.shape,y_train.shape, y_test.shape)

(143, 24) (62, 24) (143,) (62,)

In [36]:
from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [37]:
y_pred = regressor.predict(X_test)

In [38]:
# Comparing Actual vs Predicted
prediction = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
prediction

       Actual     Predicted
0   30760.000  26045.745498
1   17859.167  22082.166036
2    9549.000   9536.504164
3   11850.000  14398.123399
4   28248.000  26858.764644
..        ...           ...
57  11845.000  10000.712870
58  37028.000  34520.999368
59   5389.000   6494.412622
60   9233.000   8637.423463
61  17199.000  21952.960116

[62 rows x 2 columns]

In [42]:
from sklearn import metrics  
print('Mean Absolute Error:', 
      metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 2204.2927576471357

In [44]:
df1['price'].std()

7988.85233174315

In [45]:
y_test.std()

8323.723842804817